@use "../abstracts/variables";

.sidebar {
  display: flex;
  width: 260px;
  flex-direction: column;
  background-color: #{variables.$bg-gray};

  .header {
    display: flex;
    height: 52px;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;

    button {
      background-color: inherit;
      border: none;
      padding: 8px 6px;
    }
  }

  .page_navigator {
    display: flex;
    flex-direction: column;
    padding: 12px 0;

    a {
      height: 36px;
      margin: 0 6px;
      padding: 6px 10px;
    }
  }

  .history_navigator {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    div {
      height: 36px;
      color: #{variables.$ft-gray-3};
      margin: 0 6px;
      padding: 6px 10px;
    }

    a {
      height: 36px;
      margin: 0 6px;
      padding: 6px 10px;
    }
  }

  .grow_blank {
    flex: 1;
  }

  .footer {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: inherit;
    border: none;
    margin: 0 6px;
    padding: 6px 10px;

    span {
      margin-right: 8px;
    }
  }
}
