// preset
$max-vw: 1920px; // 최대 가로크기는 1920px로 설정

// theme color
$theme-color: #007aff;

// background color
$bg-gray: #e8e8e8;

// font color
$ft-black-1: #2a3037;
$ft-black-2: #3f4750;
$ft-gray-1: #adb5bd;
$ft-gray-2: #868e96;
$ft-gray-3: #8f8f8f;

// font size. 1rem: 14px
$font-size: 14px;
$font-10: 0.71rem;
$font-12: 0.85rem;
$font-14: 1rem;
$font-16: 1.14rem;
$font-18: 1.28rem;
$font-20: 1.42rem;
$font-24: 1.71rem;
$font-30: 2.14rem;
