@use "../abstracts/variables";

.login {
  display: flex;
  width: 100%;

  .left {
    flex-grow: 1;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 24px 0;

    .body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .title {
      font-size: #{variables.$font-56};
    }

    .subtitle {
      font-size: #{variables.$font-18};
    }

    .function {
      width: 380px;
      border: 1px solid #{variables.$border-medium};
      border-radius: 28px;
      padding: 28px;

      > div {
        border: 1px solid #{variables.$border-medium};
        border-radius: 14px;
        margin: 12px 0;
      }

      .google {
        button {
          width: 100%;
          height: 44px;
          background-color: inherit;
          border: none;
        }
      }

      > p {
        color: #{variables.$black-2};
        font-size: #{variables.$font-12};
      }

      .input {
        display: flex;
        padding: 14px;
        height: 44px;

        input {
          border: none;
          outline: none;
          line-height: 1.5rem;
        }
      }

      .continue {
        button {
          width: 100%;
          height: 44px;
          background-color: black;
          color: white;
          border: none;
          border-radius: 14px;
        }
      }
    }
  }

  .right {
    flex-grow: 1;
    display: flex;
    width: 50%;
  }
}
