@use "../../abstracts/variables";

.form_button {
  button {
    width: 340px;
    height: 50px;
    background-color: #{variables.$background-black};
    color: #{variables.$white};
    border: none;
    border-radius: 25px;
    line-height: 1.5rem;
    padding: 0 22px;
  }

  input:focus {
    border-color: #{variables.$border-blue};
  }
}
